<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muchies API</title>
</head>
<body>
    <h1>MUNCHIES API</h1>
    <hr>
    <span>version 0.2</span>
    <hr>
    <h3>Routes</h3>
    <span>Authentication routes</span>
    <ul>
        <li>
            <strong>
                post /register 
            </strong>
            <span>
               - requires email and password
            </span>
        </li>
        <li>
            <strong>
                post /login
            </strong>
            <span>
               - requires email and password, sets LOGGED_IN_USER cookie => returns JWT token and user ID
            </span>
        </li>
        <li>
            <strong>
                get /auth
            </strong>
            <span>
               - decode JWT => returns object with auth 
            </span>
        </li>
        <li>
            <strong>
                post /logout
            </strong>
            <span>
               - clears all cookies
            </span>
        </li>
    </ul>
    <span>menus routes</span>
    <ul>
        <li>
            <strong>
                get /menus
            </strong>
            <span>
               - requires JWT => returns list of all menus
            </span>
        </li>
        <li>
            <strong>
                get /menus/:id
            </strong>
            <span>
               - requires JWT => returns single menu object, showing details and list of meals
            </span>
        </li>
        <li>
            <strong>
                put /menus/:id
            </strong>
            <span>
               - requires JWT => updated menu with req.body
            </span>
        </li>
        <li>
            <strong>
                post /menus
            </strong>
            <span>
               - requires JWT => creates new menu with bland details and "Untitled Menu" as name
            </span>
        </li>
        <li>
            <strong>
                delete /menus/:d
            </strong>
            <span>
               - requires JWT => deletes meal
            </span>
        </li>
    </ul>
    <span>meals routes</span>
    <ul>
        <li>
            <strong>
                get /meals
            </strong>
            <span>
               - requires JWT => returns list of all meals
            </span>
        </li>
        <li>
            <strong>
                get /meals/:id
            </strong>
            <span>
               - requires JWT => returns meal object
            </span>
        </li>
        <li>
            <strong>
                put /meals/:id/edit
            </strong>
            <span>
               - requires JWT => updated meal with req.body
            </span>
        </li>
        <li>
            <strong>
                post /meals/create
            </strong>
            <span>
               - requires JWT => creates new meal with blank details and "Untitled Meal" as name
            </span>
        </li>
        <li>
            <strong>
                delete /meals/:mealID
            </strong>
            <span>
               - requires JWT => deletes meal
            </span>
        </li>
    </ul>
    <span>ingredients routes</span>
    <ul>
        <li>
            <strong>
                get /ingredients
            </strong>
            <span>
               - requires JWT => returns list of all meals
            </span>
        </li>
        <li>
            <strong>
                get /ingredients/:id
            </strong>
            <span>
               - requires JWT => returns singe ingredient object
            </span>
        </li>
        <li>
            <strong>
                put /ingredients/:id
            </strong>
            <span>
               - requires JWT => updated ingredient with req.body
            </span>
        </li>
        <li>
            <strong>
                post /ingredients
            </strong>
            <span>
               - requires JWT => creates new ingredient with req.body.name
            </span>
        </li>
        <li>
            <strong>
                delete /ingredients/:id
            </strong>
            <span>
               - requires JWT => deletes meal
            </span>
        </li>
    </ul>
</body>
</html>